.stepper-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
}

.step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.step-circle {
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--slate-200);
    color: var(--slate-400);
}

.step-circle.active {
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 10px 15px -3px var(--primary-light), 0 4px 6px -4px var(--primary-light);
}

.step-label {
    font-size: 0.625rem;
    /* 10px */
    margin-top: 0.25rem;
    font-weight: 500;
    color: var(--slate-500);
}

.step-line {
    position: absolute;
    top: 1rem;
    /* center with circle */
    left: 2rem;
    /* start after circle */
    height: 2px;
    background-color: var(--slate-200);
    z-index: -1;
    transition: background-color 0.3s;
}

.step-line.active {
    background-color: var(--primary);
}